@use "./base.scss";

// put your custom CSS here!

table td {
  vertical-align: top;
}

.page-title a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-title a::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-image: url('/static/favicon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 6px;
}

article img {
  border-radius: 8px;
}